AuroraEditor/Data/XML/Schemas/AllTypesSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://arctisaurora/AuroraTypes" elementFormDefault="qualified" targetNamespace="http://arctisaurora/AuroraTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Uncategorized">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StackPanel.settings" />
      <xs:enumeration value="DockMode" />
      <xs:enumeration value="GridListRowSettings" />
      <xs:enumeration value="GridListColumnSettings" />
      <xs:enumeration value="LevelScaling" />
      <xs:enumeration value="HorizontalAlignment" />
      <xs:enumeration value="VeticalAlignment" />
      <xs:enumeration value="Orientation" />
      <xs:enumeration value="ControlColor" />
      <xs:enumeration value="FillMode" />
      <xs:enumeration value="ContentScalingModeEnum" />
      <xs:enumeration value="AVulkanMesh" />
      <xs:enumeration value="Entry" />
      <xs:enumeration value="FontAsset" />
      <xs:enumeration value="TextureAsset" />
      <xs:enumeration value="ControlStyle" />
      <xs:enumeration value="xs:string" />
      <xs:enumeration value="xs:int" />
      <xs:enumeration value="xs:float" />
      <xs:enumeration value="xs:double" />
      <xs:enumeration value="xs:boolean" />
      <xs:enumeration value="xs:byte" />
      <xs:enumeration value="xs:short" />
      <xs:enumeration value="xs:long" />
      <xs:enumeration value="xs:unsignedInt" />
      <xs:enumeration value="xs:unsignedShort" />
      <xs:enumeration value="xs:unsignedLong" />
      <xs:enumeration value="xs:string" />
      <xs:enumeration value="xs:decimal" />
      <xs:enumeration value="Action" />
      <xs:enumeration value="Type" />
      <xs:enumeration value="types:Uncategorized" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UI">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StackPanel.settings" />
      <xs:enumeration value="DockMode" />
      <xs:enumeration value="GridListRowSettings" />
      <xs:enumeration value="GridListColumnSettings" />
      <xs:enumeration value="LevelScaling" />
      <xs:enumeration value="HorizontalAlignment" />
      <xs:enumeration value="VeticalAlignment" />
      <xs:enumeration value="Orientation" />
      <xs:enumeration value="ControlColor" />
      <xs:enumeration value="FillMode" />
      <xs:enumeration value="ContentScalingModeEnum" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Registry">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AVulkanMesh" />
      <xs:enumeration value="Entry" />
      <xs:enumeration value="FontAsset" />
      <xs:enumeration value="TextureAsset" />
      <xs:enumeration value="ControlStyle" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>