AuroraEditor/Data/XML/Schemas/RegistryTypeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://arctisaurora/AuroraRegistryTypes" elementFormDefault="qualified" targetNamespace="http://arctisaurora/AuroraRegistryTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Entry">
    <xs:attribute name="KeyType" type="xs:int" />
    <xs:attribute name="ValueType" type="xs:int" />
  </xs:complexType>
</xs:schema>