AuroraEditor/Data/XML/Schemas/RenderingTypeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://arctisaurora/AuroraRenderingTypes" xmlns:actions="http://arctisaurora/ActionDependencies" xmlns:allTypes="http://arctisaurora/AuroraTypes" elementFormDefault="qualified" targetNamespace="http://arctisaurora/AuroraRenderingTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="actionSchema.xsd" namespace="http://arctisaurora/ActionDependencies" />
  <xs:import schemaLocation="AllTypesSchema.xsd" namespace="http://arctisaurora/AuroraTypes" />
  <xs:simpleType name="Rendering">
    <xs:union memberTypes="types:SamplerFilter types:SamplerAddressMode types:SamplerMipmapMode" />
  </xs:simpleType>
  <xs:simpleType name="SamplerFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nearest" />
      <xs:enumeration value="Linear" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SamplerAddressMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Repeat" />
      <xs:enumeration value="MirroredRepeat" />
      <xs:enumeration value="ClampToEdge" />
      <xs:enumeration value="ClampToBorder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SamplerMipmapMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nearest" />
      <xs:enumeration value="Linear" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SamplerAsset" type="types:SamplerAsset" />
  <xs:complexType name="SamplerAsset">
    <xs:sequence />
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="MagFilter" type="types:SamplerFilter" />
    <xs:attribute name="MinFilter" type="types:SamplerFilter" />
    <xs:attribute name="AddressModeU" type="types:SamplerAddressMode" />
    <xs:attribute name="AddressModeV" type="types:SamplerAddressMode" />
    <xs:attribute name="AddressModeW" type="types:SamplerAddressMode" />
    <xs:attribute name="Anisotropy" type="xs:boolean" />
    <xs:attribute name="MipmapMode" type="types:SamplerMipmapMode" />
  </xs:complexType>
</xs:schema>