Periodic/Data/XML/Schemas/InputTypeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://arctisaurora/AuroraInputTypes" xmlns:actions="http://arctisaurora/ActionDependencies" xmlns:allTypes="http://arctisaurora/AuroraTypes" elementFormDefault="qualified" targetNamespace="http://arctisaurora/AuroraInputTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="actionSchema.xsd" namespace="http://arctisaurora/ActionDependencies" />
  <xs:import schemaLocation="AllTypesSchema.xsd" namespace="http://arctisaurora/AuroraTypes" />
  <xs:simpleType name="Input">
    <xs:union memberTypes="types:Keys" />
  </xs:simpleType>
  <xs:element name="KeybindModifier" type="types:KeybindModifier" />
  <xs:complexType name="KeybindModifier">
    <xs:sequence />
    <xs:attribute name="Key" type="types:Keys" />
  </xs:complexType>
  <xs:element name="Keybind" type="types:Keybind" />
  <xs:complexType name="Keybind">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Modifier" type="types:KeybindModifier">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="KeybindModifier" type="types:KeybindModifier" />
        <xs:element name="Condition" type="types:Condition" />
        <xs:element name="Press" type="types:Press" />
        <xs:element name="Release" type="types:Release" />
        <xs:element name="Hold" type="types:Hold" />
        <xs:element name="HoldRelease" type="types:HoldRelease" />
        <xs:element name="MaxHoldTime" type="types:MaxHoldTime" />
        <xs:element name="MultiTap" type="types:MultiTap" />
        <xs:element name="Continuous" type="types:Continuous" />
        <xs:element name="Repeat" type="types:Repeat" />
        <xs:element name="Toggle" type="types:Toggle" />
        <xs:element name="HoldContinuous" type="types:HoldContinuous" />
        <xs:element name="Chord" type="types:Chord" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Trigger" type="types:Keys" />
    <xs:attribute name="Action" type="actions:Input" />
  </xs:complexType>
  <xs:simpleType name="Keys">
    <xs:restriction base="xs:string">
      <xs:enumeration value="A" />
      <xs:enumeration value="B" />
      <xs:enumeration value="C" />
      <xs:enumeration value="D" />
      <xs:enumeration value="E" />
      <xs:enumeration value="F" />
      <xs:enumeration value="G" />
      <xs:enumeration value="H" />
      <xs:enumeration value="I" />
      <xs:enumeration value="J" />
      <xs:enumeration value="K" />
      <xs:enumeration value="L" />
      <xs:enumeration value="M" />
      <xs:enumeration value="N" />
      <xs:enumeration value="O" />
      <xs:enumeration value="P" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="R" />
      <xs:enumeration value="S" />
      <xs:enumeration value="T" />
      <xs:enumeration value="U" />
      <xs:enumeration value="V" />
      <xs:enumeration value="W" />
      <xs:enumeration value="X" />
      <xs:enumeration value="Y" />
      <xs:enumeration value="Z" />
      <xs:enumeration value="Apostrophe" />
      <xs:enumeration value="Comma" />
      <xs:enumeration value="Minus" />
      <xs:enumeration value="Period" />
      <xs:enumeration value="Slash" />
      <xs:enumeration value="Semicolon" />
      <xs:enumeration value="Equal" />
      <xs:enumeration value="LeftBracket" />
      <xs:enumeration value="Backslash" />
      <xs:enumeration value="RightBracket" />
      <xs:enumeration value="GraveAccent" />
      <xs:enumeration value="Numpad0" />
      <xs:enumeration value="Numpad1" />
      <xs:enumeration value="Numpad2" />
      <xs:enumeration value="Numpad3" />
      <xs:enumeration value="Numpad4" />
      <xs:enumeration value="Numpad5" />
      <xs:enumeration value="Numpad6" />
      <xs:enumeration value="Numpad7" />
      <xs:enumeration value="Numpad8" />
      <xs:enumeration value="Numpad9" />
      <xs:enumeration value="NumpadDecimal" />
      <xs:enumeration value="NumpadDivide" />
      <xs:enumeration value="NumpadMultiply" />
      <xs:enumeration value="NumpadSubtract" />
      <xs:enumeration value="NumpadAdd" />
      <xs:enumeration value="NumpadEnter" />
      <xs:enumeration value="NumpadEqual" />
      <xs:enumeration value="Num0" />
      <xs:enumeration value="Num1" />
      <xs:enumeration value="Num2" />
      <xs:enumeration value="Num3" />
      <xs:enumeration value="Num4" />
      <xs:enumeration value="Num5" />
      <xs:enumeration value="Num6" />
      <xs:enumeration value="Num7" />
      <xs:enumeration value="Num8" />
      <xs:enumeration value="Num9" />
      <xs:enumeration value="Space" />
      <xs:enumeration value="Enter" />
      <xs:enumeration value="Tab" />
      <xs:enumeration value="AnySymbol" />
      <xs:enumeration value="Backspace" />
      <xs:enumeration value="Escape" />
      <xs:enumeration value="LeftControl" />
      <xs:enumeration value="RightControl" />
      <xs:enumeration value="LeftShift" />
      <xs:enumeration value="RightShift" />
      <xs:enumeration value="LeftWin" />
      <xs:enumeration value="RightWin" />
      <xs:enumeration value="Menu" />
      <xs:enumeration value="CapsLock" />
      <xs:enumeration value="ScrollLock" />
      <xs:enumeration value="NumLock" />
      <xs:enumeration value="PrintScreen" />
      <xs:enumeration value="Pause" />
      <xs:enumeration value="LeftAlt" />
      <xs:enumeration value="RightAlt" />
      <xs:enumeration value="LeftSuper" />
      <xs:enumeration value="RightSuper" />
      <xs:enumeration value="Up" />
      <xs:enumeration value="Down" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
      <xs:enumeration value="Home" />
      <xs:enumeration value="End" />
      <xs:enumeration value="PageUp" />
      <xs:enumeration value="PageDown" />
      <xs:enumeration value="Insert" />
      <xs:enumeration value="Delete" />
      <xs:enumeration value="F1" />
      <xs:enumeration value="F2" />
      <xs:enumeration value="F3" />
      <xs:enumeration value="F4" />
      <xs:enumeration value="F5" />
      <xs:enumeration value="F6" />
      <xs:enumeration value="F7" />
      <xs:enumeration value="F8" />
      <xs:enumeration value="F9" />
      <xs:enumeration value="F10" />
      <xs:enumeration value="F11" />
      <xs:enumeration value="F12" />
      <xs:enumeration value="F13" />
      <xs:enumeration value="F14" />
      <xs:enumeration value="F15" />
      <xs:enumeration value="F16" />
      <xs:enumeration value="F17" />
      <xs:enumeration value="F18" />
      <xs:enumeration value="F19" />
      <xs:enumeration value="F20" />
      <xs:enumeration value="F21" />
      <xs:enumeration value="F22" />
      <xs:enumeration value="F23" />
      <xs:enumeration value="F24" />
      <xs:enumeration value="F25" />
      <xs:enumeration value="MouseLeft" />
      <xs:enumeration value="MouseRight" />
      <xs:enumeration value="MouseMiddle" />
      <xs:enumeration value="MouseButton4" />
      <xs:enumeration value="MouseButton5" />
      <xs:enumeration value="MouseButton6" />
      <xs:enumeration value="MouseButton7" />
      <xs:enumeration value="MouseButton8" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="KeybindMap" type="types:KeybindMap" />
  <xs:complexType name="KeybindMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Keybind" type="types:Keybind">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Condition" type="types:Condition" />
  <xs:complexType name="Condition">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Press" type="types:Press" />
  <xs:complexType name="Press">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Release" type="types:Release" />
  <xs:complexType name="Release">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Hold" type="types:Hold" />
  <xs:complexType name="Hold">
    <xs:sequence />
    <xs:attribute name="Threshold" type="xs:float" />
  </xs:complexType>
  <xs:element name="HoldRelease" type="types:HoldRelease" />
  <xs:complexType name="HoldRelease">
    <xs:sequence />
    <xs:attribute name="Threshold" type="xs:float" />
  </xs:complexType>
  <xs:element name="MaxHoldTime" type="types:MaxHoldTime" />
  <xs:complexType name="MaxHoldTime">
    <xs:sequence />
    <xs:attribute name="Threshold" type="xs:float" />
  </xs:complexType>
  <xs:element name="MultiTap" type="types:MultiTap" />
  <xs:complexType name="MultiTap">
    <xs:sequence />
    <xs:attribute name="Count" type="xs:int" />
  </xs:complexType>
  <xs:element name="Continuous" type="types:Continuous" />
  <xs:complexType name="Continuous">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="Repeat" type="types:Repeat" />
  <xs:complexType name="Repeat">
    <xs:sequence />
    <xs:attribute name="Delay" type="xs:float" />
    <xs:attribute name="Rate" type="xs:float" />
  </xs:complexType>
  <xs:element name="Toggle" type="types:Toggle" />
  <xs:complexType name="Toggle">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="HoldContinuous" type="types:HoldContinuous" />
  <xs:complexType name="HoldContinuous">
    <xs:sequence />
    <xs:attribute name="Threshold" type="xs:float" />
  </xs:complexType>
  <xs:element name="Chord" type="types:Chord" />
  <xs:complexType name="Chord">
    <xs:sequence />
    <xs:attribute name="Key" type="types:Keys" />
  </xs:complexType>
</xs:schema>