Periodic/Data/XML/Schemas/RegistryTypeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://arctisaurora/AuroraRegistryTypes" xmlns:allTypes="http://arctisaurora/AuroraTypes" xmlns:actions="http://arctisaurora/ActionDependencies" elementFormDefault="qualified" targetNamespace="http://arctisaurora/AuroraRegistryTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="AllTypesSchema.xsd" namespace="http://arctisaurora/AuroraTypes" />
  <xs:import schemaLocation="actionSchema.xsd" namespace="http://arctisaurora/ActionDependencies" />
  <xs:complexType name="IParseableTypes" />
  <xs:complexType name="AVulkanMesh" />
  <xs:complexType name="Entry">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="KeyType" type="allTypes:Uncategorized" />
    <xs:attribute name="ValueType" type="allTypes:Uncategorized" />
  </xs:complexType>
  <xs:complexType name="FontAsset" />
  <xs:complexType name="TextureAsset" />
  <xs:complexType name="ControlStyle" />
</xs:schema>