Periodic/Data/XML/Schemas/UITypeSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:types="http://arctisaurora/AuroraUITypes" xmlns:actions="http://arctisaurora/ActionDependencies" xmlns:allTypes="http://arctisaurora/AuroraTypes" elementFormDefault="qualified" targetNamespace="http://arctisaurora/AuroraUITypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="actionSchema.xsd" namespace="http://arctisaurora/ActionDependencies" />
  <xs:import schemaLocation="AllTypesSchema.xsd" namespace="http://arctisaurora/AuroraTypes" />
  <xs:simpleType name="UI">
    <xs:union memberTypes="types:DockMode types:LevelScaling types:HorizontalAlignment types:VeticalAlignment types:Orientation types:ControlColor types:FillMode types:ContentScalingModeEnum" />
  </xs:simpleType>
  <xs:element name="ShortText" type="types:ShortText" />
  <xs:complexType name="ShortText">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="Text" type="xs:string" />
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:element name="StackPanel.settings" type="types:StackPanel.settings" />
  <xs:complexType name="StackPanel.settings">
    <xs:sequence />
    <xs:attribute name="Height" type="xs:float" />
    <xs:attribute name="Width" type="xs:float" />
    <xs:attribute name="Spacing" type="xs:float" />
    <xs:attribute name="WidthScaling" type="types:LevelScaling" />
    <xs:attribute name="HeightScaling" type="types:LevelScaling" />
    <xs:attribute name="HorizontalAlignment" type="types:HorizontalAlignment" />
    <xs:attribute name="VerticalAlignment" type="types:VeticalAlignment" />
  </xs:complexType>
  <xs:element name="StackPanel" type="types:StackPanel" />
  <xs:complexType name="StackPanel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StackPanel.settings" type="types:StackPanel.settings">
        <xs:annotation>
          <xs:documentation>Settings for each layer of the stack panel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="HorizontalMargin" type="xs:float" />
    <xs:attribute name="VerticalMargin" type="xs:float" />
    <xs:attribute name="Orientation" type="types:Orientation" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:element name="Panel" type="types:Panel" />
  <xs:complexType name="Panel">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:element name="Window" type="types:Window" />
  <xs:complexType name="Window">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="Fill" type="xs:boolean" />
    <xs:attribute name="ContentScalingMode" type="types:ContentScalingModeEnum" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:element name="Button" type="types:Button" />
  <xs:complexType name="Button">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:simpleType name="DockMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fill" />
      <xs:enumeration value="left" />
      <xs:enumeration value="right" />
      <xs:enumeration value="top" />
      <xs:enumeration value="bottom" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Dock" type="types:Dock" />
  <xs:complexType name="Dock">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:element name="GridListRowSettings" type="types:GridListRowSettings" />
  <xs:complexType name="GridListRowSettings">
    <xs:sequence />
    <xs:attribute name="Bounds" type="types:LevelScaling" />
    <xs:attribute name="Height" type="xs:float" />
    <xs:attribute name="Alignment" type="types:HorizontalAlignment" />
    <xs:attribute name="VerticalAlignment" type="types:VeticalAlignment" />
  </xs:complexType>
  <xs:element name="GridListColumnSettings" type="types:GridListColumnSettings" />
  <xs:complexType name="GridListColumnSettings">
    <xs:sequence />
    <xs:attribute name="Bounds" type="types:LevelScaling" />
    <xs:attribute name="Width" type="xs:float" />
    <xs:attribute name="Alignment" type="types:HorizontalAlignment" />
    <xs:attribute name="VerticalAlignment" type="types:VeticalAlignment" />
  </xs:complexType>
  <xs:element name="GridList" type="types:GridList" />
  <xs:complexType name="GridList">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="ShortText" type="types:ShortText" />
        <xs:element name="StackPanel" type="types:StackPanel" />
        <xs:element name="Panel" type="types:Panel" />
        <xs:element name="Window" type="types:Window" />
        <xs:element name="Button" type="types:Button" />
        <xs:element name="Dock" type="types:Dock" />
        <xs:element name="GridList" type="types:GridList" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="ColorHex" type="xs:string" />
    <xs:attribute name="ControlColor" type="types:ControlColor" />
    <xs:attribute name="CellWidth" type="xs:float" />
    <xs:attribute name="CellHeight" type="xs:float" />
    <xs:attribute name="HorizontalSpacing" type="xs:float" />
    <xs:attribute name="VerticalSpacing" type="xs:float" />
    <xs:attribute name="HorizontalMargin" type="xs:float" />
    <xs:attribute name="VerticalMargin" type="xs:float" />
    <xs:attribute name="Width" type="xs:int" />
    <xs:attribute name="Height" type="xs:int" />
    <xs:attribute name="MinHeight" type="xs:int" />
    <xs:attribute name="MinWidth" type="xs:int" />
    <xs:attribute name="HorizontalPos" type="xs:float" />
    <xs:attribute name="VerticalPos" type="xs:float" />
    <xs:attribute name="ScalingMode" type="types:FillMode" />
    <xs:attribute name="ClipToBounds" type="xs:boolean" />
    <xs:attribute name="DockMode" type="types:DockMode" />
    <xs:attribute name="StackIndex" type="xs:int" />
    <xs:attribute name="onEnter" type="actions:UI" />
    <xs:attribute name="onExit" type="actions:UI" />
    <xs:attribute name="onClick" type="actions:UI" />
    <xs:attribute name="onAltClick" type="actions:UI" />
    <xs:attribute name="onRelease" type="actions:UI" />
    <xs:attribute name="onAltRelease" type="actions:UI" />
    <xs:attribute name="onDragStop" type="actions:UI" />
  </xs:complexType>
  <xs:simpleType name="LevelScaling">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScaleToContent" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="HardScale" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Center" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VeticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Orientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Vertical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ControlColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="red" />
      <xs:enumeration value="green" />
      <xs:enumeration value="blue" />
      <xs:enumeration value="white" />
      <xs:enumeration value="black" />
      <xs:enumeration value="yellow" />
      <xs:enumeration value="cyan" />
      <xs:enumeration value="magenta" />
      <xs:enumeration value="gray" />
      <xs:enumeration value="orange" />
      <xs:enumeration value="purple" />
      <xs:enumeration value="brown" />
      <xs:enumeration value="pink" />
      <xs:enumeration value="lime" />
      <xs:enumeration value="navy" />
      <xs:enumeration value="teal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FillMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Uniform" />
      <xs:enumeration value="Stretch" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContentScalingModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Both" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>