AuroraEditor/Data/XML/Registries/AbstractRegistry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="AuroraRegistries"
    targetNamespace="http://schemas/arctis-aurora/registry"
    elementFormDefault="qualified"
    xmlns="http://schemas/arctis-aurora/registry"
    xmlns:mstns="http://schemas/arctis-aurora/registry"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name ="Registry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Entry" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="path" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>
