AuroraEditor/Data/XML/Registries/AuroraRegistries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="AuroraRegistries"
    targetNamespace="http://schemas/arctis-aurora/auroraregistries"
    elementFormDefault="qualified"
    xmlns="http://schemas/arctis-aurora/auroraregistries"
    xmlns:mstns="http://schemas/arctis-aurora/auroraregistries"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="EngineDictionaries">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Dictionary" maxOccurs="unbounded">
					<xs:complexType>
						<xs:attribute name="name" type="xs:string" use="required"/>
						<xs:attribute name="keyType" type="KeyType" use="required"/>
						<xs:attribute name="valueType" type="ValueType" use="required"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="KeyType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="String"/>
			<xs:enumeration value="Int"/>
			<xs:enumeration value="Float"/>
			<xs:enumeration value="anyType"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ValueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AVulkanMesh"/>
			<xs:enumeration value="FontAsset"/>
			<xs:enumeration value="TextureAsset"/>
			<xs:enumeration value="ControlStyle"/>
			<xs:enumeration value="Action"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
