AuroraEditor/Data/XML/UI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://schemas/arctis-aurora/ui" elementFormDefault="qualified" targetNamespace="http://schemas/arctis-aurora/ui" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="Action">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ExitApplication" />
      <xs:enumeration value="DummyHover" />
      <xs:enumeration value="TestAction" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DockMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="fill" />
      <xs:enumeration value="left" />
      <xs:enumeration value="right" />
      <xs:enumeration value="top" />
      <xs:enumeration value="bottom" />
      <xs:enumeration value="unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LevelScaling">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ScaleToContent" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="HardScale" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="HorizontalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Center" />
      <xs:enumeration value="Left" />
      <xs:enumeration value="Right" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VeticalAlignment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Top" />
      <xs:enumeration value="Center" />
      <xs:enumeration value="Bottom" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Orientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Vertical" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ControlColor">
    <xs:restriction base="xs:string">
      <xs:enumeration value="red" />
      <xs:enumeration value="green" />
      <xs:enumeration value="blue" />
      <xs:enumeration value="white" />
      <xs:enumeration value="black" />
      <xs:enumeration value="yellow" />
      <xs:enumeration value="cyan" />
      <xs:enumeration value="magenta" />
      <xs:enumeration value="gray" />
      <xs:enumeration value="orange" />
      <xs:enumeration value="purple" />
      <xs:enumeration value="brown" />
      <xs:enumeration value="pink" />
      <xs:enumeration value="lime" />
      <xs:enumeration value="navy" />
      <xs:enumeration value="teal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="FillMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Uniform" />
      <xs:enumeration value="Stretch" />
      <xs:enumeration value="Fill" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContentScalingModeEnum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Vertical" />
      <xs:enumeration value="Horizontal" />
      <xs:enumeration value="Both" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="LevelSettings">
    <xs:attribute name="Height" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the height of the level when using scalar.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the width of the level when using scalar.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Spacing" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="WidthScaling" type="LevelScaling">
      <xs:annotation>
        <xs:documentation>Sets how the width scales on this level</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HeightScaling" type="LevelScaling">
      <xs:annotation>
        <xs:documentation>Sets how the height scales on this level</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalAlignment" type="HorizontalAlignment">
      <xs:annotation>
        <xs:documentation>Sets the horizontal justification for this level</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalAlignment" type="VeticalAlignment">
      <xs:annotation>
        <xs:documentation>Sets the vertical alignment for this level</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GridListRowSettings">
    <xs:attribute name="Bounds" type="LevelScaling">
      <xs:annotation>
        <xs:documentation>Level bounds for the grid's rows</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:float">
      <xs:annotation>
        <xs:documentation>Grid's height</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Alignment" type="HorizontalAlignment">
      <xs:annotation>
        <xs:documentation>Horizontal alignment of the grid's rows</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalAlignment" type="VeticalAlignment">
      <xs:annotation>
        <xs:documentation>Vertical alignment of the grid's rows</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GridListColumnSettings">
    <xs:attribute name="Bounds" type="LevelScaling">
      <xs:annotation>
        <xs:documentation>Level bounds for the grid's columns</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:float">
      <xs:annotation>
        <xs:documentation>Grid's width</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Alignment" type="HorizontalAlignment">
      <xs:annotation>
        <xs:documentation>Horizontal alignment of the grid's columns</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalAlignment" type="VeticalAlignment">
      <xs:annotation>
        <xs:documentation>Vertical alignment of the grid's columns</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:element name="ShortText" type="ShortText" />
  <xs:element name="StackPanel" type="StackPanel" />
  <xs:element name="Panel" type="Panel" />
  <xs:element name="Window" type="Window" />
  <xs:element name="Button" type="Button" />
  <xs:element name="Dock" type="Dock" />
  <xs:element name="GridList" type="GridList" />
  <xs:complexType name="ShortText">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
    </xs:choice>
    <xs:attribute name="Text" type="xs:string">
      <xs:annotation>
        <xs:documentation>The text to display on the control.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="StackPanel.LevelSettings">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LevelSettings" type="LevelSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StackPanel">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
      <xs:element minOccurs="0" maxOccurs="1" name="StackPanel.LevelSettings" type="StackPanel.LevelSettings">
        <xs:annotation>
          <xs:documentation></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalMargin" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalMargin" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Orientation" type="Orientation">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Panel">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
    </xs:choice>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Window">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
    </xs:choice>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Fill" type="xs:boolean">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ContentScalingMode" type="ContentScalingModeEnum">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Button">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
    </xs:choice>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Dock">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
    </xs:choice>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="GridList">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="ShortText" type="ShortText" />
      <xs:element name="StackPanel" type="StackPanel" />
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
      <xs:element name="Dock" type="Dock" />
      <xs:element name="GridList" type="GridList" />
    </xs:choice>
    <xs:attribute name="ColorHex" type="xs:string">
      <xs:annotation>
        <xs:documentation>Sets the control color via hex code</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ControlColor" type="ControlColor">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CellWidth" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="CellHeight" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalSpacing" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalSpacing" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalMargin" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalMargin" type="xs:float">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Width" type="xs:int">
      <xs:annotation>
        <xs:documentation>Width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Height" type="xs:int">
      <xs:annotation>
        <xs:documentation>Height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinHeight" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum height in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="MinWidth" type="xs:int">
      <xs:annotation>
        <xs:documentation>Minimum width in pixels</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="HorizontalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="VerticalPos" type="xs:float">
      <xs:annotation>
        <xs:documentation>Sets the position of the current control within it's parent. [0;1]. Works with non-container controls.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ScalingMode" type="FillMode">
      <xs:annotation>
        <xs:documentation>Sets how the control scales vertically within it's parent.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="ClipToBounds" type="xs:boolean">
      <xs:annotation>
        <xs:documentation>Will not render kids outside the bounds.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DockMode" type="DockMode">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="StackIndex" type="xs:int">
      <xs:annotation>
        <xs:documentation>Tells the StackPanel parent (if its the parent) in which stack level the control should reside.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onEnter" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onExit" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltClick" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onAltRelease" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="onDragStop" type="Action">
      <xs:annotation>
        <xs:documentation></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>