ParticleSimulator/Data/XML/Test.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://schemas/arctis-aurora/ui" elementFormDefault="qualified" targetNamespace="http://schemas/arctis-aurora/ui" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="vec3">
    <xs:restriction base="xs:string">
      <xs:pattern value="-?\d+(\.\d+)?,-?\d+(\.\d+)?,-?\d+(\.\d+)?" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Panel">
    <xs:complexContent mixed="false">
      <xs:extension base="Control" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Panel" type="Panel" />
  <xs:complexType name="Window">
    <xs:complexContent mixed="false">
      <xs:extension base="Control">
        <xs:attribute name="Width" type="xs:int" />
        <xs:attribute name="Height" type="xs:int" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Window" type="Window" />
  <xs:complexType name="Button">
    <xs:complexContent mixed="false">
      <xs:extension base="Control" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Button" type="Button" />
  <xs:complexType name="Control" abstract="true">
    <xs:choice minOccurs="0" maxOccurs="1">
      <xs:element name="Panel" type="Panel" />
      <xs:element name="Window" type="Window" />
      <xs:element name="Button" type="Button" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="Dock">
    <xs:complexContent mixed="false">
      <xs:extension base="Container" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dock" type="Dock" />
  <xs:complexType name="Container" abstract="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="Dock" type="Dock" />
    </xs:choice>
  </xs:complexType>
</xs:schema>